%h1 History
%table#audits
  %tr
    %th ID
    %th Object
    %th Action
    %th User
    %th Time
    %th
  - @audits.each do |audit|
    %tr.problem
      %td{:title => audit.id}= truncate(audit.id.to_s, length: 40)
      %td= audit.association_chain.first["name"]
      %td= audit.action
      %td= audit.modifier
      %td= audit.created_at
      %td= link_to "View", audit_path(audit)
= paginate @audits
