%h1 Solutions Marked for Cheating
%table
  %tr
    %th Problem
    %th User
    %th Submitted
    %th
  - @solutions.each do |solution|
    %tr
      %td= solution.problem.to_s
      %td= solution.user
      %td= solution.created_at
      %td= link_to "View", edit_problem_solution_path(solution.problem, solution)
%br/
= link_to "Back", :back
