= form_for([@solution.problem, @solution]) do |f|
  - if @solution.errors.any?
    #error_explanation
      %h2
        = pluralize(@solution.errors.count, "error")
        prohibited this solution from being saved:
      %ul
        - @solution.errors.full_messages.each do |msg|
          %li= msg
  = hidden_field_tag :bypass_run_code, "1"
  .field
    = f.label :problem
    %br/
    .instructions= @solution.problem.title
    = link_to "Show...", "#", class: "show-problem-info"
  .problem-info{:style => "display: none"}
    %b Problem Code:
    = raw highlight_code(@solution.problem.code)
  .field
    = f.label :user
    %br/
    = f.collection_select :user_id, User.all, :id, :to_s, {}, class: "chosen"
  .field
    = f.label :cheating, 'Marked as Cheating'
    %br/
    = f.check_box :cheating
  .field.code-editor-field
    = f.label :code
    %br/
    = f.text_area :code
    #code_editor.code-editor
    %br/
  .clear
  .actions{:style => "margin-top:20px"}
    = f.submit
