%h1= "Solutions for #{link_to truncate(@problem.to_s, length: 30), @problem}".html_safe
- if @top_solutions.current_page == 1
  %h2{:style => "margin-top: 1.5em"} People You Follow
  .solutions
    - if @followed_solutions.any?
      - @followed_solutions.each do |solution|
        .solution
          = render solution
    - else
      %p None of the people you follow have solved this problem.
  %hr/
  %h2 Top Solutions
.solutions
  - @top_solutions.each do |solution|
    .solution
      = render solution
  = paginate @top_solutions
.clear
- if solution = Solution.first(conditions: { user_id: current_user.id, problem_id: @problem.id })
  %hr/
  #your-solution.solution
    = render solution, title: "Your Solution"
  %br/
  = link_to "Back to Problem", problem_path(@problem)