%p
  %b Problem:
  = @solution.problem.title
%p
  %b Code:
  = @solution.code
%p
  %b User:
  = @solution.user
- if current_user_admin?
  = link_to 'Edit', edit_problem_solution_path(@solution.problem, @solution)
  |
  \#{link_to "Destroy", solution_path(), method: :delete, confirmation: "Are you sure you want to destroy this solution?"}
